.App {
  text-align: center;
  background-image: url('https://img.freepik.com/premium-vector/pi-day-seamless-pattern-with-mathematical-constants-baked-pie-template-hand-drawn-illustration_2175-12164.jpg');
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
 width: fit-content;
  border: 2px solid green;
  box-shadow: inset 2px whitesmoke;
  margin: auto;
}
.calc-button {
  background-color: yellowgreen;
  color: brown;
  font-size: large;
  width: 60px;
  height:60px;
  margin: 4px;
  
}

.calc-button:hover {
  background-color: palevioletred;
}

.calc-grid{
  grid-template-columns: repeat(3, 80px [col-start]);
  display: inline-grid;
  justify-content: space-evenly;
  column-gap: 2px;
  row-gap: 2px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
